#loader .dots span{
  -webkit-transition: all 6000ms ease;
  transition: all 6000ms ease;
  background: rgba(0,0,0,1);
  height: 15px;
  width: 15px;
  margin: 0 2px 0 0;
  display: inline-block;
  border-radius: 50%;
  animation: wave 2s ease  infinite;
  -webkit-animation: wave 2s ease infinite;
}  

#loader .dots span:nth-child(1){  
    animation-delay: 0;
    -webkit-animation-delay: 0;
}
#loader .dots span:nth-child(2){  
    animation-delay: 100ms;
    -webkit-animation-delay: 100ms;
}
#loader .dots span:nth-child(3){  
    animation-delay: 200ms;
    -webkit-animation-delay: 200ms;
}

@-webkit-keyframes wave{
  0%, 40%, 100% { 
    -webkit-transform: translate(0, 0); 
    transform: translate(0, 0);
    background-color: rgba(0,0,0,.7);    
  }
  10% { 
    -webkit-transform: translate(0, -15px); 
    transform: translate(0, -15px); 
    background-color: rgba(0,0,0,1);    
  }  
}

@keyframes wave{
  0%, 40%, 100% { 
    -webkit-transform: translate(0, 0); 
    transform: translate(0, 0);
    background-color: rgba(0,0,0,.7);    
  }
  10% { 
    -webkit-transform: translate(0, -15px); 
    transform: translate(0, -15px); 
    background-color: rgba(0,0,0,1);    
  }  
}