.comment-multioption.multioption-checked:before {
    content: "";
    display: block;
    width: 6px;
    height: 12px;
    left: 16px;
    top: 12px;
    border-radius: 0;
    background-color: #fff;
    border: solid #0077e5;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.comment-multioption.multioption-checked:before {
    content: "";
    display: block;
    width: 6px;
    height: 12px;
    left: 16px;
    top: 12px;
    border-radius: 0;
    background-color: #fff;
    border: solid #0077e5;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}

.comment-multioption:before {
    content: "";
    background-color: #e1e1e1;
    width: 14px;
    height: 14px;
    position: absolute;
    left: 12px;
    top: 12px;
    border-radius: 3px;
}
.multioption-checked:before ,.multioption-submit-btn{
    border-color: #0069ff !important;
}